body {
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    background-color: green;
    color: blue;
}

h1 {
    color: yellow;
    font-size: 30pt;
    font-family: Verdana, Geneva, sans-serif;
}

h2 {
    color: olive;
    font-size: 30pt;
    font-family: Verdana, Geneva, sans-serif;
}

p {
    text-align: center;
    border: 3px solid white;
    padding: 10px;
}
